<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>levoldesmouettes_edited.jpg</string>
		<key>title</key>
		<string>Поза «Полет чайки»</string>
		<key>description</key>
		<string>Одобряют ли врачи секс-эксперименты в третьем триместре? Да, но с отдельными исключениями. Они уверены, что камасутра в это время может быть небезопасной, если малыш уже находится в головном предлежании. Тогда, мышечные сокращения во время женского оргазма могут травмировать плаценту и даже вызвать кровотечение. Так что, не забудь проконсультироваться с врачом перед тем, как начать тестировать эту позицию.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Во время выполнения этой позиции женщина лежит на кровати таким образом, чтобы ее ноги касались пола. Мужчина становится на колени перед ней и начинает проникновение. Женщина может обхватить супруга ногами, так будет обеспечено более глубокое соитие.</string>
		<key>advantage</key>
		<string>Эта позиция поможет отдохнуть твоей многострадальной спине. Да и животику – ничто не мешает. Лучше всего, когда твои ноги будут стоять на полу, так ты будешь полностью расслаблена.</string>
		<key>risk</key>
		<string>Если позиция все-таки причиняет тебе некий дискомфорт в спине или тазу – подложи небольшую подушку под таз. Некоторым женщинам также пригодится и подушечка под шею. Проникновение в этой позиции – не особо глубокое. Так что никаких проблем последовать не должно.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>posturedelenclume.jpg</string>
		<key>title</key>
		<string>Поза «Наковальня»</string>
		<key>description</key>
		<string>Избавление от некоторых неприятных ощущений первого триместра во многом может способствовать повышению либидо женщины. Однако будь осторожна с сексом и во 2-м триместре беременности – в отдельных случаях это может быть опасно для малыша, поэтому, перед любыми секс-экспериментами, обязательно проконсультируйся с медиками.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>Женщина ложиться на спину и аккуратно забрасывает ножки на плечи мужчине, который то время стоит на коленях и слегка наклоняется вперед. Обрати внимание: если эта поза причиняет тебе хоть малейший дискомфорт – ее стоит заменить на более простую.</string>
		<key>advantage</key>
		<string>В этой позе доминирует и работает твой любимый супруг. А ты можешь наслаждаться процессом и результатом. Тот факт, что ты держишь ножки достаточно высоко, способен мгновенно улучшить кровообращение и избавиться от неприятного ощущения усталости и тяжести в ногах. Комфорт + веселье = цель на вечер достигнута, верно?</string>
		<key>risk</key>
		<string>Такая позиция может грозить судорогами ног и пальцев. Кстати, от такой проблемы женщины во втором триместре беременности страдают достаточно часто. Кроме того, обрати внимание, чтобы муж не давил на животик в порыве страсти. Проникновение в данной позиции довольно таки глубокое. Обрати на это внимание.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lotus.jpg</string>
		<key>title</key>
		<string>Поза «Лотос»</string>
		<key>description</key>
		<string>Название позы «лотоса» происходит из йоги. Такое положение тел партнеров символизирует объединение мужского и женского начала.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>В позе «лотоса», женщина садится на мужчину и обхватывает его ногами. Мужчина сидит, скрестив ноги. Ты можешь практиковать эту позу на ровной поверхности: на кровати, на матрасе и даже на полу (лучше всего на мягком и удобном коврике).</string>
		<key>advantage</key>
		<string>В первом триместре у будущей мамы возникает много беспокойств. Она переживает о малыше, о работе, семье, о своей фигуре… А тут еще и тошнота… Поэтому, самым идеальным вариантом для беременной пары в первом триместре является именно поза «лотоса». Она безболезненная, легка в «применении» и способна подарить паре не только удовольствие, но и расслабление и гармонию.</string>
		<key>risk</key>
		<string>В отдельных случаях, секс в позе «лотоса» может вызывать боль в груди. Все потому, что твоя грудь в ранние сроки беременности часто напряжена (как и ты сама). Приобрети нижнее белье на один-два размера больше. Такой бюстгальтер будет хорошо поддерживать твою увеличившуюся грудь и не причинит дискомфорта во время занятий любовью! Кроме того, это еще и очень сексуально! Попробуй! </string>
	</dict>
	<dict>
		<key>image</key>
		<string>lamazone.jpg</string>
		<key>title</key>
		<string>Поза «Амазонка»</string>
		<key>description</key>
		<string>Во втором триместре беременности ты уже можешь почувствовать шевеления малыша. Мы уверены, это приводит тебя в неописуемый восторг. Но не стоит лишать себя и других удовольствий. В том числе и секса. Предлагаем тебе освоить еще одну позу Камасутры для беременных дам.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>«Амазонка», по словам бывалых, - это одна из наиболее сложных и интересных позиций из числа «женщина сверху». Плюсами ее является то, что эта поза дает женщине большее чувство превосходства и власти по сравнению с другими вариантами занятия сексом. Для освоения этой позиции мужчина должен сесть в кресло, а женщина – присесть на него. Лучше всего, когда ноги мужчины смотрят прямо, а женщина сидит практически перпендикулярно, то есть боком. Так партнеры не будут мешать друг другу правильно двигаться.</string>
		<key>advantage</key>
		<string>Во время занятия сексом в этой позе ты можешь не беспокоится о ребенке. Ведь, на животик никто и ничто не давит. Кроме того, твой мужчина может обеспечить тебе достаточно много ласки, ведь его руки свободны. А ты также можешь наградить своего партнера – нежным и страстный поцелуем.</string>
		<key>risk</key>
		<string>Главное – найти удобное и надежное кресло, дабы не допустить травматизма. Важно найти и удобное положение для обоих партнеров, а также – подходящий темп. При этой позиции проникновение – не особо глубокое. Но если ты почувствуешь дискомфорт, то лучше всего отложить эксперименты и вернуться на проверенную и удобную кровать.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uniondepapillon.jpg</string>
		<key>title</key>
		<string>Поза «Бабочка»</string>
		<key>description</key>
		<string>Если твоя беременность во втором триместре протекает нормально и медики не видят никаких противопоказаний и трудностей, &quot;беременный&quot; секс может стать для тебя в это время самой яркой страницей сексуальной жизни. Итак, вперед к экспериментам! Сегодня тестируем позу «бабочка».</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>В этой позиции женщина сидит на мужчине. Оба партнера немного отклоняют спину назад, при этом - расставив ноги. Угол наклона женщины – больше, чем у мужчины. Мужчина обхватывает женщину руками за талию или ниже. Женщина может опираться руками об пол или держаться за мужчину.</string>
		<key>advantage</key>
		<string>В этой позиции животик никак не мешает заниматься сексом. Кроме того, поза даже помогает облегчить «беременную» боль в спине. Кроме того, данная позиция интересна и своей формой. Тела партнеров переплетены так, что это напоминает форму бабочки. Кроме того, поза обеспечивает еще и прекрасный зрительный контакт партнеров.</string>
		<key>risk</key>
		<string>Проникновение в этой позиции – достаточно глубокое и в некоторых случаях может вызывать болезненные ощущения. Кроме того, при длительном пребывании человека в таком положении, у него могут начать затекать руки, ноги и спина.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>landromaque.jpg</string>
		<key>title</key>
		<string>Поза «Андромаха»</string>
		<key>description</key>
		<string>«Все женщины, сидящие верхом на мужчине, способны раскрыть все свои глубинные желания и природу». Так говорят об этой позе философы. &quot;Андромаха&quot;, с древнегреческого языка означает - «воюющая с мужем». Нравится идея? Тогда вперед ее практиковать!</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>Во время тестирования этой позы, мужчина лежит на спине, а женщина - садится на него. И, конечно же, управляет процессом! Чтобы тебе было более удобно с твоим круглым животиком - положите руки на бедра мужчины и немного наклонись вперед или назад, чтобы найти идеальную позицию для проникновения.</string>
		<key>advantage</key>
		<string>Эта позиция является одной из популярных классических позиций Камасутры. Это достаточно простая поза. И минимум дискомфорта. Поэтому властвуй и получай удовольствие! Это, безусловно, одна из самых простых рекомендуемых Камасутрой позиций для беременных, потому что позволяет легко достичь оргазма прямой стимуляцией клитора. Твой мужчина также может ласкать твою грудь и ягодицы, ведь его руки – вполне свободны.</string>
		<key>risk</key>
		<string>Особых рисков у позы – нет. Тебя немного могут сбить движения ребенка в утробе – но не переживай, это вполне нормально. И никакого вреда секс в этой позе ему не причинит. Тем более, медики уже давно доказали: оргазм при беременности полезен и тебе, и малышу!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>de la courtisane.jpg</string>
		<key>title</key>
		<string>Поза «Куртизанка»</string>
		<key>description</key>
		<string>Это очень интересная поза достаточно мягкого проникновения. Мужчина стоит на полу на коленях и проникает в женщину, сидящую на стуле или на кровати. Дама при этом может обхватить ногами его спину. Красота!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>Возможен также и другой вариант: дама сидит на краю стола, а он проникает в нее стоя. Эта удобная, легкая и не слишком утомительная поза для обоих партнеров и она способствует мягкому проникновению.</string>
		<key>advantage</key>
		<string>Преимущества этой позиции многочисленны, особенно для самой куртизанки! Женщина достаточно удобно устроилась на возвышении и ей осталось лишь насладиться моментом, и, конечно же, страстно поцеловать своего любимого мужчину. Проникновение не особо глубокое, поэтому такая поза особенно подходит для тех дам, которые чувствуют некоторую боль в нижней части живота на ранних сроках беременности.</string>
		<key>risk</key>
		<string>Сразу запомни: недостатки у этой позиции все-таки есть. Причем, они общие для обоих партнеров. Речь идет о напряжении и боли в коленях. Так что можешь заранее запастись подушечками для коленей партнера, а себе – найти мягкий коврик под попу. И следи за тем, чтобы мышцы живота не сильно напрягались. Приятного вечера! </string>
	</dict>
	<dict>
		<key>image</key>
		<string>lespetitescuilleres_edited.jpg</string>
		<key>title</key>
		<string>Поза «Ложка»</string>
		<key>description</key>
		<string>К сожалению, в третьем триместре беременности у пары остается достаточно небольшой выбор поз для секса из-за уже достаточно большого животика. Оптимальные позы сейчас - на двух уровнях (когда женщина лежит поперек кровати или на краю, а супруг стоит перед ней на коленях), а также сидя. Сегодня мы рассмотрим еще одну подходящую позу из Камасутры для беременных.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Во время тестирования этой позы мужчина лежит за женщиной… Так они напоминают две ложечки, бережно положенные в ящик для приборов заботливой хозяйкой. Очень контактная и романтическая поза, ведь она обеспечивает полный телесный контакт партнеров. Маленький совет: женщине лучше всего лежать на правой стороне, дабы избежать давления на сердце.</string>
		<key>advantage</key>
		<string>Эта позиция является одной из наиболее популярных поз, которую выбирают беременные женщины в третьем триместре. Нежность, комфорт, удовольствие, никаких рисов и дискомфорта – вот главные ее преимущества.</string>
		<key>risk</key>
		<string>Для экспериментаторов эта поза может показаться немного скучной. Тем не менее, если мужчина положит ногу на бедро женщины, то проникновение может стать уже намного более захватывающим и интересным. Экспериментируйте!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Position de la deesse.jpg</string>
		<key>title</key>
		<string>Поза «Богиня»</string>
		<key>description</key>
		<string>Эту позу любят многие женщины. Ведь во время соития, дама, которая держит спину выпрямленной и немного отклоняется назад, способна тем самым усиливать стимуляцию точки G и получать особое удовольствие.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>Мужчина сидит, вытянув ноги вперед, а женщина в этой позиции - садится на него и забрасывает свои ножки на его бедра. Партнеры могут сами выбрать удобный угол для соития и темп, который позволит получить наивысшее удовольствие.</string>
		<key>advantage</key>
		<string>Конечно же, ты самая настоящая богиня, ведь именно ты, в основном, руководишь в этой позиции! Так наслаждайся моментом! Кроме того, наклоняясь немного назад, ты можешь сама усиливать стимуляцию точки G. А твой мужчина в это время - может ласкать все твое тело. Ведь его руки – свободны. Кстати, у мужчин эта позиция способствует длительной эрекции… Да… В этой позиции легко забыть, что ты беременна! Но все же, советуем помнить об этом и быть осторожнее.</string>
		<key>risk</key>
		<string>Не отклоняйся сильно и резко назад, дабы не было растяжения мышц влагалища и чрезмерного напряжения живота. Обрати внимание и на своего партнера – подумай, не причиняешь ли ты любимому боль на спине своими красивыми ногтиками.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>danseauxjoyeusesfaveurs.jpg</string>
		<key>title</key>
		<string>Поза «В ритме танца»</string>
		<key>description</key>
		<string>О сексе во втором триместре беременностиврачи обычно отзываются достаточно положительно. Ведь в этот период плод в матке закрепился уже окончательно, а новых гормональных всплесков в женском организме – пока  не предвидится. А значит, сейчас самое время для удовольствий!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Эта позиция во многом сходна с простой «собачьей позой», которая так любима многими мужчинами. В этой позе женщина стоит на четвереньках. При этом ей придется немного прогнуть спинку. А ее любимый мужчина стоит на коленях позади нее. И, конечно же, активно работает.</string>
		<key>advantage</key>
		<string>Такая позиция точно способна оживить ваши с мужем занятия любовью. Кроме того, она отличается еще и простотой выполнения. И обеспечивает гибкость и легкое растяжение мышц спины дамы, что полезно для профилактики болей в спине. Кроме того – животик тебе в этом варианте – совсем не мешает.</string>
		<key>risk</key>
		<string>Проникновение в этой позиции достаточно глубокое. Но вы можете уменьшить глубину проникновения, если поищете подходящий угол наклона. Кроме того, в этой позиции не стоит пребывать долго – у женщины могут затечь руки и ноги, ведь они постоянно согнуты. Так что обговорите варианты смены позы с любимым – заранее.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Position du tape-cul.jpg</string>
		<key>title</key>
		<string>Поза «Двойные качели»</string>
		<key>description</key>
		<string>Это достаточно забавная поза, которая требует особого мастерства обоих партнеров. Высший пилотаж – не рассмеяться во время занятия сексом.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>Для выполнения этого секс-упражнения (иначе его назвать нельзя!), партнеры должны лечь на спину, взяться за руки… И тут начинается самое интересное... Женщина подвигается к мужчине, обнимает его ногами, открывая, таким образом, доступ полового члена к влагалищу. Главное – пара должна найти самый подходящий для себя темп, который принесет удовольствие и женщине, и мужчине.</string>
		<key>advantage</key>
		<string>Ты хочешь приятно и весело провести время? Тогда эта поза как раз для тебя. В первом триместре беременности – самое время впасть в детство и покататься на качелях! Кроме того, в этой позе твоя супер чувствительная сейчас грудь остается защищенной от дискомфорта, ведь у мужчины практически нет никаких шансов потрогать ее на ощупь!</string>
		<key>risk</key>
		<string>Еще раз повторимся – главное не рассмеяться, иначе ты рискуешь обидеть своего любимого. Кроме того, эта поза не подходит дамам, страдающим от сильного токсикоза, ведь на качелях может и укачать… А тебе такие сюрпризы вовсе ни к чему.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lalevrette.jpg</string>
		<key>title</key>
		<string>Поза «Догги-стайл»</string>
		<key>description</key>
		<string>Поза из Камасутры под названием «догги-стайл» хороша тем, что она без каких-то особых усилий обеспечивает хорошую стимуляцию точки G. Кроме того, есть в ней и что-то первобытное, дикое… Хочешь добавить в эту позу еще немного перчика? Нет проблем! Займись сексом в этой позиции перед зеркалом!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Дама располагается на полу или на кровати в коленно-локтевой позиции, пошире расставив колени. А вот стопы необходимо расположить как можно ближе друг к дружке. Плечи женщины опускаются так, чтоб таз был немного выше. Мужчина на коленях - заходит в нее сзади.</string>
		<key>advantage</key>
		<string>Такая позиция способна подарит обоим партнерам массу эмоций и ощущений. Кроме того, она – позволяет животику пребывать в свободном положении. Никто и ничто его не сдавливает. Такая поза является очень чувственной и очень нравится многим мужчинам и женщинам.</string>
		<key>risk</key>
		<string>Будь осторожна: если тебе поставили диагноз «загиб матки», занятия сексом в этой позе могут быть болезненными и от «догги-стайл» - лучше отказаться. Также в этой позиции могут болеть руки в запястьях. Учти это. Кроме того, если твой животик уже достаточно большой, то ты можешь почувствовать, как его тянет вниз… И пора сменить позицию.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>posturedelabalancoire.jpg</string>
		<key>title</key>
		<string>Поза «Качели»</string>
		<key>description</key>
		<string>Многие дамы впервые испытывают оргазм именно во втором триместре беременности. А некоторые будущие мамы обнаруживают даже мультиоргастичность, о наличии которой они ранее даже не подозревали. Итак, наслаждаемся сегодня в позиции «качели».</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>Для осваивания такой позиции, женщина должна присесть на мужчину, лежащего на ровной поверхности (на кровати, а можно даже и на полу). Женщина сгибает ноги в коленях и делает упор на свои руки. Так ее животик чувствует себя комфортно и легко. Проникновение в позе – достаточно глубокое, а главное – сама позиция очень интересна. Ее обязательно оценят вечные экспериментаторы.</string>
		<key>advantage</key>
		<string>В этой позиции животик не мешает фрикциям и общему процессу. Кроме того, это достаточно фантазийная поза. У мужчины - открывается прекрасный вид, а ты можешь даже немного пофантазировать на тему … любовника, c которым занимаешься сексом в данный момент. Мужчине же для удобства стоит положить под голову маленькую подушку!</string>
		<key>risk</key>
		<string>Эта поза не подходит для тех дам, у кого врачи выявили загиб шейки матки. Кроме того, во время занятий сексом в этой позиции ты не видишь довольного лица своего мужчины… И не можешь его поцеловать или обнять.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lunionduchat.jpg</string>
		<key>title</key>
		<string>Поза «Кошка»</string>
		<key>description</key>
		<string>Если твоя беременность протекает благополучно, то интимные отношения в паре не только возможны, но и очень даже нужны и полезны. Секс по Камасутре для беременных, способен сделать период ожидания ребенка для обоих партнеров неповторимым и прекрасным.  Поговорим дальше о технике секса в позе «кошка».</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Эта поза является практически миссионерской. И она, больше всего, распространена в Европе. Женщина в этой позиции ложится на спинку, отводит одну ногу, согнутую в колене, а мужчина должен лечь на нее сверху и выбрать наиболее подходящий угол для проникновения. Она разводит большие половые губы и помогает ввести половой член во влагалище.</string>
		<key>advantage</key>
		<string>При этой позе фиксируется достаточно интересный угол проникновения полового члена и стимуляция клитора. Кроме того, эта позиция способна обеспечить еще и хороший телесный и эмоциональный контакт. Ведь, мужчина и женщина, занимаясь сексом, смотрят друг другу в глаза, их отдельные части тела – переплетены... Это прекрасная нежная позиция для занятий любовью в первом триместре беременности. К тому же, она очень простая в исполнении.</string>
		<key>risk</key>
		<string>Особых рисков у позы нет. Единственное – попроси своего любимого быть нежным, не давить на животик… и не пользоваться парфюмом. Ведь, наверняка, ты сейчас страдаешь от токсикоза… А это может несколько омрачить занятие любовью.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>missionaire.jpg</string>
		<key>title</key>
		<string>Поза «Миссионерская поза»</string>
		<key>description</key>
		<string>О миссионерской позиции, когда мужчина сверху, часто говорят «обыкновенная» и «скучная» , а также - самая простая во всей «Камасутре». Однако, несмотря на это, такая поза по-прежнему остается наиболее популярной позицией в сексе. Конечно же, ведь она очень простая в исполнении, а в процессе партнеры могут смотреть друг другу в глаза и целоваться. Прелестно!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Во время выполнения миссионерской позы женщина лежит на спине. Мужчина лежит на ней, обнимая ее ноги обеими руками. Важно в этой позе избегать давления на грудь, ведь она у будущей мамочки сейчас – гиперчувствительная.</string>
		<key>advantage</key>
		<string>Проникновение в этой позе достаточно мягкое и нежное. Будущий папа не осуществляет особо большого давления на живот матери, при условии, что он будет стараться поддерживать свое тело немного на весу. Позиция лицом к лицу – также отличается особой романтичностью и нежностью. Также «миссионерская позиция» позволяет хорошо стимулировать клитор женщины!</string>
		<key>risk</key>
		<string>Особых рисков у позы не существует. Главное – чтобы у будущей мамы было настроение и она не заснула от ритмических движений. Ведь, в первом триместре будущие мамочки часто страдают от повышенной сонливости. Так что, найдите оптимальный вариант для ночи любви: свечи, хорошая музыка и нежные слова. И удовольствие – обеспечено!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lapositionperpendiculaire.jpg</string>
		<key>title</key>
		<string>Поза «Перпендикуляр»</string>
		<key>description</key>
		<string>Во время беременности обоим супругам очень важно сохранить гармоничные отношения в семействе. В том числе и сексуальные. Но не переусердствуй - секс вовсе не является обязательным занятием во время «интересного положения». Если ты все же готова к новым открытиям в интиме и твой животик тебе совсем не мешает, тогда предлагаем освоить сегодня еще одну интересную позу из Камасутры для беременных.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Во время секса в перпендикулярном положении, женщина лежит на спине, ножки - врозь. Мужчина лежит на боку, почти перпендикулярно к ней. Он сгибает одну ногу и начинает проникновение. Женщина в этой момент может обхватить его бедро ногой.</string>
		<key>advantage</key>
		<string>Такая позиция на спине позволяет женщине спокойно лежать на кровати и наслаждаться процессом, не напрягая мышцы живота или спины. Кроме того, позиция также обеспечивает хороший зрительный контакт партнеров. Да и поцелуям поза – совсем не помеха!</string>
		<key>risk</key>
		<string>Рисков у позы - немного. Главное, предупреди партнера, чтобы он контролировал свое тело во время интима и не давил на животик в порыве страсти.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lafleureclatee_edited.jpg</string>
		<key>title</key>
		<string>Поза «Раскрытый цветок»</string>
		<key>description</key>
		<string>Долгое время сведения о разнообразии техник и поз секса были закрыты для людей. Установка «секс нужен только для деторождения» не располагала к сексуальным экспериментам. Но после сексуальной революции наукой любви начали интересоваться многие мужчины и женщины, в том числе и беременные. И в этом нет ничего постыдного!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>В этой позиции женщина лежит на спине, ноги сложены максимально близко к подбородку. Мужчина становится перед ней на колени. Обрати внимание: поза достаточно сложна. Кроме того, проникновение в этой позиции – глубокое. В случае возникновения болезненных ощущений, секс лучше прервать и выбрать более «спокойную» позицию.</string>
		<key>advantage</key>
		<string>Во время секса в этой позе ты не испытаешь давления на грудь. А ведь, как известно, в первом триместре беременности будущие мамы достаточно часто испытывают дискомфорт от давления на грудь. Кроме того, твой мужчина сможет вдоволь насладиться прекрасным видом, находясь немного сверху. А это, в свою очередь, новые эмоции.</string>
		<key>risk</key>
		<string>Заниматься сексом в этой позе дамам, у которых ранее были выкидыши на ранних сроках – не стоит. Так как проникновение полового члена в этой позиции – достаточно глубокое. Кроме того, следи и за животиком. Чрезмерное напряжение его мышц – тебе сейчас ни к чему.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>offrande_secrete.jpg</string>
		<key>title</key>
		<string>Поза «Секрет»</string>
		<key>description</key>
		<string>Во время беременности обоим супругам очень важно сохранить гармоничные отношения в семействе. В том числе и сексуальные. Но не переусердствуй - секс вовсе не является обязательным занятием во время «интересного положения». Если ты все же готова к новым открытиям в интиме и твой животик тебе совсем не мешает, тогда предлагаем освоить сегодня еще одну интересную позу из Камасутры для беременных.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Во время секса в перпендикулярном положении, женщина лежит на спине, ножки - врозь. Мужчина лежит на боку, почти перпендикулярно к ней. Он сгибает одну ногу и начинает проникновение. Женщина в этой момент может обхватить его бедро ногой.</string>
		<key>advantage</key>
		<string>Такая позиция на спине позволяет женщине спокойно лежать на кровати и наслаждаться процессом, не напрягая мышцы живота или спины. Кроме того, позиция также обеспечивает хороший зрительный контакт партнеров. Да и поцелуям поза – совсем не помеха!</string>
		<key>risk</key>
		<string>Рисков у позы - немного. Главное, предупреди партнера, чтобы он контролировал свое тело во время интима и не давил на животик в порыве страсти.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uniondelabeille.jpg</string>
		<key>title</key>
		<string>Поза «Союз пчел»</string>
		<key>description</key>
		<string>Вопрос интима в третьем триместре требует индивидуального решения. Так говорят многие врачи. В отдельных случаях противопоказаний для секса в этот момент - нет, в других же вариантах - он может быть даже опасен для плода, потому обязательно проконсультируйся по этому вопросу с врачом. Если же врач одобрил твои секс-эксперименты – предлагаем тебе освоить новую позу из Камасутры для беременных.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>Мужчина сидит на краю кровати. Женщина сидит на нем сверху. Позиции тел партнеров – одинаковые. Маленькая подсказка: чтобы вам было легче освоить эту позу, мужчина может прислониться к стенке, чтобы обеспечить надежную опору для спины. Женщина же может для удобства держаться руками за тело мужчины.</string>
		<key>advantage</key>
		<string>Что касается расположения во время такого секса, то оно является наиболее выгодным для беременной женщины. Ведь ты абсолютно не волнуешься за свой кругленький животик и самочувствие малыша. Кроме того, женщина сама может выбирать темп соития. А мужчина в этой время также может порадовать любимую расслабляющим массажем шеи.</string>
		<key>risk</key>
		<string>К минусам позы можно отнести тот факт, что ты не видишь глаза своего партнера. Но зато можешь прекрасно фантазировать! Как и он… Поза удобна своей простой и особых рисков – не несет.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>belleendormie_edited.jpg</string>
		<key>title</key>
		<string>Поза «Спящая красавица»</string>
		<key>description</key>
		<string>Эта поза не претендует на звание самой комфортной позы для секса, но необычный и особенный угол вхождения полового члена в партнершу может подарить массу приятных ощущений обоим партнерам.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Дама ложиться на бочок, слегка согнув ножки в коленях и подтянув их немного к себе. Потом она поднимает верхнюю ножку вверх, а мужчина – должен лечь между ее ног и начать проникновение. Мужчине необходимо лечь так, чтоб он не очень давил на внутреннюю часть бедра дамы, на которой он будет сам лежать. Взяв даму за ягодицы, мужчина будет делать поступательные движения вперед, подтягивая ягодицы партнерши на встречу к себе.</string>
		<key>advantage</key>
		<string>Так как все беременные любят поспать, эта поза хороша своей «спокойностью». Другими словами, будущая мама может «отдыхать» в то время, как ее любимый муж будет «работать». Идеальная поза для всех мам-сурков!</string>
		<key>risk</key>
		<string>В этой позе ты рискуешь быть «приклеенной к подушке» и немного «придавленной» самим партнером. Так что попроси своего любимого быть нежнее и аккуратнее. Особую атмосферу поможет воссоздать томная музыка мягкий свет, нежные слова на ушко.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>approchedutigre.jpg</string>
		<key>title</key>
		<string>Поза «Тигрица»</string>
		<key>description</key>
		<string>Во втором триместре беременности, который часто именуют не иначе, как &quot;золотым периодом &quot;, у большинства дам наблюдается некое повышение интереса к любви. Связано это, по словам врачей, с ослаблением проявлений токсикоза, общин улучшением самочувствия и отдельными изменениями в организме. У женщины проходит болезненная чувствительность груди, улучшается кровенаполнение сосудов влагалища во время полового возбуждения. Все это и способствует более высокой интенсивности хороших ощущений во время полового акта.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>В этой позе беременная женщина находится сверху. Мужчина лежит на спине, женщина слегка обхватывает его одной ножкой. Проникновения в этой позиции достаточно мягкие и нежные. И никакого дискомфорта!</string>
		<key>advantage</key>
		<string>Практически каждая женщина во втором триместре беременности – это настоящая тигрица. И она заслуживает на внимание настоящего тигра. Объятия, поцелуи, ласки  - вот оно счастье в семействе кошачьих!</string>
		<key>risk</key>
		<string>Риски позиции – минимальны. Но будь готова, что твой партнер может не признать свою разъяренную львицу, которая не так давно была очень спокойной кошечкой. Поэтому, царапать сильно ему спинку – также вовсе не обязательно.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>postureduroseau_edited.jpg</string>
		<key>title</key>
		<string>Поза «Тростник»</string>
		<key>description</key>
		<string>Поза для заядлых экспериментаторов. Достаточно глубокое проникновение и хорошая тренировка для обоих партнеров. Физкультура и секс – два в одном.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>Во время занятий сексом в позе «тростник» женщина лежит на спине и, приподнимая таз, опирается на голову. Руки свободные, ноги - согнуты. Мужчина стоит на коленях, поднимает и удерживает руками таз женщины для проникновения.</string>
		<key>advantage</key>
		<string>Пикантная и интересная позиция. Мужчина может мягко массировать твои бедра, целовать в животик. Кроме того, это прекрасная тренировка мышц пресса и ягодиц! Поза «тростник» - чувственная и оригинальная. Кстати, темпом можешь управлять как ты, так и партнер. И твой животик – никому не мешает! Короче говоря, это просто прекрасно!</string>
		<key>risk</key>
		<string>Но не стоит забывать о том, что поза «тростник» может вызывать боль в шее и позвоночнике, если заниматься сексом достаточно долго! Не забудь положить небольшую подушечку под голову, прежде чем начать тестировать позу «тростник»!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lecunnilingus_edited.jpg</string>
		<key>title</key>
		<string>Поза «Удобный куннилингус»</string>
		<key>description</key>
		<string>Куннилингус - это вид соития, когда мужчина удовлетворяет даму своим ртом: губами и языком. Как самостоятельная форма соития такая поза употребляется достаточно редко. Чаще всего – как форма разогрева и просто как частичка оральных любовных утех, которые так нравятся женщинам.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>Во время такого куннилингуса мужчина лежит на спине, его ноги – согнуты. Женщина «садится» на него, удерживая свой вес на ногах и слегка опираясь на тело мужчины.</string>
		<key>advantage</key>
		<string>Преимущества позы для женщин – понятны с самой картинки. Многим дамам нравятся такие оральные ласки. А в этой позиции – даме ничто не мешает наслаждаться процессом. В качестве поддержки ей может служить стойка кровати или тело мужчины, на которое дама слегка опирается. А главное – ее достаточно большому животику – ничто не мешает.</string>
		<key>risk</key>
		<string>Рисков в этой позиции - немного. Главное – правильно удерживать вес во время утех, чтобы не причинить дискомфорт своему любимому мужчине, который лежит снизу.</string>
	</dict>
</array>
</plist>
