<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>levoldesmouettes_edited.jpg</string>
		<key>title</key>
		<string>Pose «The Seagull’s Flight»</string>
		<key>description</key>
		<string>Do the doctors approve of sex-experiments during the third trimester? Yes, but with some exceptions. They believe that practicing sex in this period may pose some danger in the case the baby already is in cephalic presentation. In this case the constriction of muscles during the female orgasm may damage the placenta and even cause bleeding. Thus, you should consult your doctor before trying to test this position.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>In this position the woman lies on the bed in a way that her legs touch the floor. The man kneels before her and begins the penetration. The woman may hold her husband with her legs to allow for deeper copulation.</string>
		<key>advantage</key>
		<string>This position will allow your suffering back to rest. Besides, nothing disturbs your tummy. It is best when your legs stand on the floor – this way you’ll be totally relaxed.</string>
		<key>risk</key>
		<string>In case this position causes some discomfort in the back or pelvis – you should put a small cushion under your pelvis. Some women may also need a cushion under their neck. Penetration in this position is not very deep, so it should not cause any problems.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>posturedelenclume.jpg</string>
		<key>title</key>
		<string>Pose «The Anvil»</string>
		<key>description</key>
		<string>The deliverance of certain unpleasant feelings of the first trimester may largely contribute to the increase of the woman’s libido. However, you also have to be careful with sex during the second trimester – in some cases this may be dangerous for the baby, so before experimenting with sex you should get advice from your doctor.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>The woman lies on her back and puts her legs over the man’s shoulders. The man stands on his knees and bends slightly forward. Be careful: in case this position causes you any discomfort – you should change it for something simple.</string>
		<key>advantage</key>
		<string>Your beloved husband dominates and works in this position, while you can enjoy the process and the result. The fact that your legs are positioned rather high means instant improvement of blood circulation, which will help remove the unpleasant feeling of fatigue and heavy legs. Comfort + fun = your goal for the evening has been achieved, right?</string>
		<key>risk</key>
		<string>This position may lead to cramps in legs and fingers. By the way, women often suffer from this problem in the second trimester of pregnancy. Besides, be careful not to let your husband put too much pressure on your tummy in a surge of passion. The penetration in this position is rather deep. You should pay attention to that.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lotus.jpg</string>
		<key>title</key>
		<string>Pose «The Lotus»</string>
		<key>description</key>
		<string>The name of the Lotus position comes from Yoga. This position of the partner’s bodies symbolizes the union of Yin and Yang.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>In the Lotus position the woman sits on the man and holds him with her legs. The man sits with his legs crossed. You can practice this position on a flat surface: on the bed, the mattress and even on the floor (best to do it on a soft and comfortable carpet).</string>
		<key>advantage</key>
		<string>In the first trimester the future mother has a lot to worry about.  She worries of the baby, her job, family, and her figure… Besides, she has nausea… This is why the Lotus is an ideal position for a pregnant couple in the first trimester. It is painless, easy to “use” and may give the couple not only pleasure but also relaxation and harmony.</string>
		<key>risk</key>
		<string>In certain instances, sex in the Lotus position may cause pains in the chest. That’s because your breasts at early pregnancy stages are often strained (as yourself). Get yourself underwear one or two sizes bigger. Such a bra will better support your enlarged breasts and won’t cause discomfort during love-making! Besides, that’s very sexy! Try it!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lamazone.jpg</string>
		<key>title</key>
		<string>Pose «The Amazon»</string>
		<key>description</key>
		<string>During the second trimester of pregnancy you already may feel the baby stirring. We are sure that this makes you genuinely happy. But you should not deprive yourself of other pleasures, including sex. We offer you to learn another Kama Sutra position for pregnant ladies.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>According to experienced women, the Amazon is one of the most complicated and interesting positions among those where women are on top. Its advantage is that this position gives the woman a higher degree of superiority and power compared to other types of sex. To practice this position the man has to sit in an armchair, and the woman – sit on top of him. It is best when the legs of the man aim straight ahead, while the woman sits perpendicularly, i.e. sideways. This way the partners won’t prevent each other’s correct movement.</string>
		<key>advantage</key>
		<string>When having sex in this position you needn’t worry about the baby. Nothing puts pressure on your tummy. Besides, your man may caress you a lot as his hands are free. And you may reward your partner with a tender and passionate kiss.</string>
		<key>risk</key>
		<string>The most important trick is to find a comfortable and reliable chair to avoid traumas. It is equally important to find a comfortable position for both partners as well as a suitable pace. The penetration in this position is not too deep. However, in case you feel some discomfort you’d better set aside the experiments and return to your tested and comfortable bed.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uniondepapillon.jpg</string>
		<key>title</key>
		<string>Pose «The Butterfly»</string>
		<key>description</key>
		<string>In case your pregnancy in the second trimester flows normally and the doctors see no counterindications or complications, “pregnant sex” may become one of the most colorful pages in your sexual life. So let’s head towards experimentation! Today we are going to test the Butterfly position.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>In this position the woman sits on top of the man. Both partners bend their backs slightly backwards, spreading their legs at the same time. The woman bends lower than the man. The man holds the woman’s waist or lower. The woman may rest her arms on the floor or hold the man.</string>
		<key>advantage</key>
		<string>In this position the tummy does not prevent having sex in any way. This position also helps relieve the “pregnancy” pain in the back. Besides, it is interesting in its form – the partner’s bodies are interwoven in a way that resembles the shape of a butterfly. This position also provides for good eye contact of the partners.</string>
		<key>risk</key>
		<string>The penetration in this position is deep enough, and in some cases may cause pains. Besides, if a person stays in this position for too long, he/she may have cramps in the arms, legs and back.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>landromaque.jpg</string>
		<key>title</key>
		<string>Pose «Andromache»</string>
		<key>description</key>
		<string>All women topping their men are able to discover all their deep desires and nature – philosophers say when speaking of this position. “Andromache” in Greek means – “combatting her husband”. Like the idea? Then it’s high time to practice!</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>In this position the man lies on his back and the woman sits on top of him. And of course, she’s in control! To make it more comfortable for your round tummy – put your hands on the man’s thighs and bend slightly either forward or backwards to find the ideal position for penetration.</string>
		<key>advantage</key>
		<string>This position is one of the popular classical positions of the Kama Sutra. This is a quite simple position and it causes minimal discomfort. So rule and receive pleasure! Without any doubt, this is one of the easiest positions recommended by the Kama Sutra for the pregnant, as it allows reaching an orgasm through direct stimulation of the clitoris. Your man may also caress your breasts and buttocks as his arms remain free.</string>
		<key>risk</key>
		<string>There are no outstanding risks associated with this position. You may get disoriented by the stirring of the baby in your womb, but don’t worry, that’s quite normal. Sex in this position won’t do him any harm. Besides, medical practitioners have proved long ago that an orgasm during pregnancy is good both for you and your baby!   </string>
	</dict>
	<dict>
		<key>image</key>
		<string>de la courtisane.jpg</string>
		<key>title</key>
		<string>Pose «The Courtesan»</string>
		<key>description</key>
		<string>This is a very interesting position for relatively soft penetration. The man stands on the floor on his knees and penetrates the woman sitting in a chair or on the bed. The lady may hold his back with her legs. Joy!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>There also is another option: the lady sits on the end of the table and he penetrates her while standing. This is a comfortable, easy and not too tiresome position for both partners, and it allows for soft penetration.</string>
		<key>advantage</key>
		<string>There are many advantages, especially for “the Courtesan” herself! The woman is comfortably positioned on a podium, and all that she needs to do is enjoy the moment, and of course, reward her man with passionate kisses. The penetration is not too deep, so this position is especially useful for those ladies who have some pains in the lower abdomen during early pregnancy.</string>
		<key>risk</key>
		<string>Remember: it has certain drawbacks. Besides, they are the same for both partners. We are talking about strains and pains in the knees. So you should think of some pads for your partner’s knees in advance, as well as find a soft carpet to put under your bottom. And be careful not to strain your abdominal muscles too much. Enjoy the evening!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lespetitescuilleres_edited.jpg</string>
		<key>title</key>
		<string>Pose «The Spoon»</string>
		<key>description</key>
		<string>Unfortunately in the third trimester of pregnancy the couple has a small choice of positions for sex because of the rather large tummy. The optimal positions now are on two levels (when the woman lies across the bed or on its end, and the man stands before her on his knees), as well as sitting. Today we will review another suitable position from Kama Sutra for the pregnant.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>While testing this position the man lies behind the woman… This way they resemble two spoons carefully placed in the tray by a caring housewife. This is a very contacting and romantic position as it provides for complete corporal contact of the partners. A bit of advice: the woman should lie on her right side to avoid pressure on the heart.</string>
		<key>advantage</key>
		<string>This is one of the most popular positions among women in the third trimester. Tenderness, comfort, pleasure and no discomfort – these are the main advantages.</string>
		<key>risk</key>
		<string>This position may seem a little dull for those who like to experiment. Nevertheless, if the man puts his leg over the woman’s thigh, the penetration may become much more captivating and interesting. Feel free to experiment!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Position de la deesse.jpg</string>
		<key>title</key>
		<string>Pose «The Goddess»</string>
		<key>description</key>
		<string>Many women love this position. In the course of copulation the lady who keeps her back straight and bends slightly backwards may increase the stimulation of her G-spot and receive special pleasure.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>The man sits with his legs stretched forward, and the woman sits on top of him, positioning her legs over his loins. The partners may choose the most confortable angle and tempo for copulation, which will give them the highest possible pleasure.</string>
		<key>advantage</key>
		<string>Of course, you are a real goddess, as you are mostly in control! Enjoy the moment! Besides, by bending slightly backwards you may yourself increase the stimulation of your G-spot. And at that time your man may caress your whole body, as his hands are free. By the way, this position supports a prolonged erection. Yes… It is easy to forget that you are pregnant in this position! However, we recommend that you don’t, and be careful.</string>
		<key>risk</key>
		<string>Do not bend backwards too far and too abruptly, as you may stretch your vaginal muscles and overstrain your tummy. Pay attention to your partner and think whether you are hurting his back with your beautiful nails.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>danseauxjoyeusesfaveurs.jpg</string>
		<key>title</key>
		<string>Pose «Dance Rhythm»</string>
		<key>description</key>
		<string>Medical practitioners mostly have positive opinions about sex during the second trimester of pregnancy. During this period the fetus is already solidly positioned in the uterus, and there will be no new hormonal outbursts in the female organism in the near future. This means it’s time for pleasure!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>This position is very similar to Doggy Style, which many men love a lot. In this position the woman is crouched on all fours, and arches her back a little. Her beloved man kneels behind her, and, of course, works actively.</string>
		<key>advantage</key>
		<string>This position will surely invigorate your love-making with your husband. Besides, it is very easy to do. It provides for flexibility and minor muscle stretching in the lady’s back, which will preclude back pains. Besides, your tummy won’t become an obstacle to you in any way.</string>
		<key>risk</key>
		<string>In this position the penetration is deep enough. But you may reduce the depth of penetration by looking for a convenient angle. Besides, you should not remain in this position for long – the woman may get cramps in her arms and legs as they remain bent. So you should discuss with your partner the options of changing positions in advance.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Position du tape-cul.jpg</string>
		<key>title</key>
		<string>Pose «Double Swing»</string>
		<key>description</key>
		<string>This position may bring a lot of fun, but it requires special skills from both partners. The highest achievement is not to start laughing while having sex.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>In order to perform this sex-exercise (you can’t call it anything else!), the partners need to lie on their backs and hold each other’s hands… And then the most interesting part begins… The woman moves closer to the man and holds him with her legs, thus opening access to her vagina for his penis. Most importantly, the couple has to find the most comfortable tempo, which will bring pleasure to both the man and the woman.</string>
		<key>advantage</key>
		<string>You want to spend time with pleasure and fun? Then this position is meant for you. During the first trimester of pregnancy it is time to return into childhood and start swinging! Besides, in this position your very sensitive breasts are protected from discomfort, as the man has practically no chance to grip them!</string>
		<key>risk</key>
		<string>Let us repeat once again – most importantly you should not laugh, or you might offend your lover. Besides, this position won’t fit those ladies suffering toxipathy, as swinging too hard may make you sick… And you don’t need surprises of this kind.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lalevrette.jpg</string>
		<key>title</key>
		<string>Pose «Doggy Style»</string>
		<key>description</key>
		<string>The Kama Sutra position Doggy Style is good as it provides for quality stimulation of the G-spot without any additional effort. Besides, there is something prehistoric and wild about it… Want to add some chili sauce to this position? No problem! Do it in front of a mirror!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>The lady positions herself on the floor or on the bed on all fours, with her knees spread. Her feet should be placed as close as possible to each other. The woman lowers her shoulders so that her pelvis is a little higher. The man stands on his knees and penetrates her from behind.</string>
		<key>advantage</key>
		<string>This position offers both partners a multitude of emotions and feelings. Besides, it allows the tummy to be in a free position, as nobody and nothing puts pressure on it. This position is very sensual, and both men and women love it.</string>
		<key>risk</key>
		<string>Be careful: if you have been diagnosed with retroversion of the uterus having sex in this position may be painful and you probably should refrain from using Doggy Style. Besides, your wrists may start hurting. Take this into account. Moreover, in case your tummy is already large enough, you may feel that it pulls you down… and it is time to change positions…</string>
	</dict>
	<dict>
		<key>image</key>
		<string>posturedelabalancoire.jpg</string>
		<key>title</key>
		<string>Pose «The Swing»</string>
		<key>description</key>
		<string>Many ladies have their first orgasm during the second trimester of pregnancy. And some future moms even have multiorgasms, the existence of which they had never suspected before. So, let’s enjoy the Swing position today.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>To engage in this position the lady has to sit on the man who lies on a flat surface (on the bed, or even on the floor). The woman bends her legs in the knees and shifts her weight to her arms. This way her tummy feels comfortable and free. The penetration in this position is deep enough, and most importantly, the position itself is very interesting. Those people who like to experiment will surely love it.</string>
		<key>advantage</key>
		<string>In this position the tummy does not obstruct frictions and the process in general. Besides, this position opens opportunities for fantasy. The man enjoys a gorgeous view, while you can fantasize about… having sex with a lover. The man should put a small cushion under his head for comfort!</string>
		<key>risk</key>
		<string>This position should not be used by those ladies who have been diagnosed with retroversion of the uterus. Besides, in this position you can’t see your man’s happy face… and you can’t kiss him or give him a hug…</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lunionduchat.jpg</string>
		<key>title</key>
		<string>Pose «The Cat»</string>
		<key>description</key>
		<string>In the case your pregnancy flows normally then intimate relations are not only possible, but highly desirable and useful. Kama Sutra sex for pregnant women may make the period of waiting for the child unique and enjoyable for both partners. Let us talk about having sex in the Cat position.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>This position is similar to Missionary. And it is most popular in Europe. The woman in this position lies on her back, and moves aside her leg bent in the knee, while the man lies over her and chooses the best angle for penetration.  She spreads her vulvar lips and guides the penis into her vagina.</string>
		<key>advantage</key>
		<string>In this position the angle of penetration of the penis is very favorable for stimulating the clitoris. Besides, this position provides for good corporal and emotional contact. While having sex the man and the woman look each other in the eyes, and their bodies are bound together… This is a beautiful and tender position for having sex during the first trimester of pregnancy. Besides, it is very easy to use.</string>
		<key>risk</key>
		<string>There are no outstanding risks. You may want to ask your lover not to put pressure on your tummy… and not to use perfume. You are most likely suffering from toxipathy right now… and that might spoil your love-making.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>missionaire.jpg</string>
		<key>title</key>
		<string>Pose «Missionary position»</string>
		<key>description</key>
		<string>People often say that the Missionary position, when the man lies on top the woman, is “plain” and “dull”, and also that it’s the simplest position in Kama Sutra. However, this position still remains the most popular one is sex. Of course, since it is very easy to use, and the partners may look each other in the eyes in the process. Pretty!</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>In the Missionary position the woman lies on her back. The man tops her, holding her legs with both arms. In this position it is important to avoid extra pressure on the chest, as the future mom’s breasts are extremely sensitive…</string>
		<key>advantage</key>
		<string>The penetration in this position is soft and tender. The future father won’t put much pressure on the mother’s abdomen in case he tries to hold his body a little in suspension. This face-to-face position is extremely romantic and tender. The Missionary position also allows for good stimulation of the woman’s clitoris!</string>
		<key>risk</key>
		<string>There is little risk associated with this position. Most importantly – the future mother has to be in the right mood not to fall asleep because of the rhythmic movement. It is well-known that in the first trimester the future moms often suffer from increased drowsiness. Thus, you need to make special arrangements for the night of love: candles, music and tender words. In this case – pleasure is guaranteed!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lapositionperpendiculaire.jpg</string>
		<key>title</key>
		<string>Pose «The Perpendicular»</string>
		<key>description</key>
		<string>During pregnancy both spouses need to preserve harmonious relations in their family, including sex. However, you should not put too much vigor in this – sex is not required for a woman who is expecting a child. But in case you are ready for new discoveries in your intimate life and your tummy does not prevent you from doing so, then we suggest you master another interesting position from the Kama Sutra for the pregnant.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>During sex in the Perpendicular position the woman lies on her back with her legs spread. The man lies on his side, almost perpendicularly to her. He bends one leg and starts the penetration. At that moment the woman may hold his thigh with her leg.</string>
		<key>advantage</key>
		<string>This position on the back allows the woman to lie calmly on the bed and enjoy the process without flexing her abdominal and spinal muscles. Besides, this position allows for good eye contact of the partners, and it does not prevent them from kissing!</string>
		<key>risk</key>
		<string>There are few risks associated with this position. Most importantly, warn your partner to control his body during the intimate contact and not to put pressure on your tummy in surge of passion.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lafleureclatee_edited.jpg</string>
		<key>title</key>
		<string>Pose «The Open Flower»</string>
		<key>description</key>
		<string>For a long time the lore on various techniques and positions for sex was hidden from the people. The postulate that “sex is necessary only for childbirth” did not promote sexual experiments. However, after the sexual revolution many men and women became interested in the art of love, including the pregnant. And there is nothing shameful about it! In this article we suggest you study the position for the first trimester of pregnancy which is called the Open Flower.</string>
		<key>he</key>
		<string>+++</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>In this position the woman lies on her back and her legs are folded as close to her chin as possible. The man kneels before her. Pay attention that this position is rather complicated. Besides, the penetration is deep. In case you start having pains, you should interrupt your intercourse and choose a “calmer” position.</string>
		<key>advantage</key>
		<string>While having sex in this position you won’t feel any pressure on your chest. It is common knowledge that in the first trimester many to-be moms are not comfortable with pressure on the chest. Besides, your man may enjoy the wonderful view as he is positioned slightly on top. And this, in turn, will bring new emotions.</string>
		<key>risk</key>
		<string>Those ladies who have previously had miscarriages at early terms should refrain from using this position. This is because the penetration of the penis is deep. Besides, you should watch your tummy, as you don’t need its muscles flexing too much right now.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>offrande_secrete.jpg</string>
		<key>title</key>
		<string>Pose «The Secret»</string>
		<key>description</key>
		<string>The main criterion for selecting a sex technique is of course the acceptability and comfort of the technique for both partners, although of course the variety of the Kama Sutra techniques depends not only on the boundaries of your imagination, but also on the terms of the pregnancy. Today we will tell you about the position for having sex in the first trimester of the pregnancy, which is called the Secret.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>This position in itself contains some mystery and originality. Not everyone will be able to do it from the first time. You need some flexibility and training. So, the woman lies on her side. She puts one leg close to her chest (or as high as possible) and slightly wraps it around the man’s leg, while the man kneels.</string>
		<key>advantage</key>
		<string>This is a great position for making love face-to-face. The risk of pressuring the chest is minimal (as the to-be mother’s chest is very sensitive). The angle of penetration of the penis is very interesting and may bring additional pleasure as the clitoris also gets stimulated during the intercourse. Besides, this sex exercise strengthens your leg muscles.</string>
		<key>risk</key>
		<string>Ask your man to be careful, and not to move brusquely. This position has a very deep penetration angle. Besides, beware of cramps, as over time your leg may get “tired” of staying in this provocative position.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uniondelabeille.jpg</string>
		<key>title</key>
		<string>Pose «The Bee Union»</string>
		<key>description</key>
		<string>In the opinion of many doctors intimate life in the third trimester requires an individual approach. In some cases there are no conditions preventing sex, in others – this may be dangerous for the fetus, so you should get advice from your doctor on this issue.  In case the doctor approves of your sex-experiments, we suggest you learn a new position from the Kama Sutra for the pregnant.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>The man sits on the end of the bed. The woman sits on top of him. The positions of the partner’s bodies are alike. A bit of advice: to master this position easily the man may lean on a wall to ensure good support of his back. For comfort, the woman may hold the man’s body with her hands.</string>
		<key>advantage</key>
		<string>The position of the body during such sex is most advantageous for a pregnant woman. You have absolutely no reason to worry for your tummy and the health of the baby. Besides, the woman may choose the tempo of copulation herself. At the same time, the man may please his beloved by massaging her neck.</string>
		<key>risk</key>
		<string>Among the drawbacks of this position is the fact that you can’t see your partner’s eyes. But you may fantasize! And he can do it as well… This position is comfortable because it is easy and does not carry any significant risks.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>belleendormie_edited.jpg</string>
		<key>title</key>
		<string>Pose «The Sleeping Beauty»</string>
		<key>description</key>
		<string>This sex position does not rank among the most comfortable, but the unusual and special penetration angle may yield lots of pleasure to both partners.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>The lady lies on her side slightly bending her knees and pulling her legs closer to her. Then she lifts her upper leg, while the man positions himself between her legs and starts the penetration. The man needs to lie in a way not to put too much pressure on the lady’s inner thigh on which he will be laying. Holding the woman’s buttocks the man will thrust forward, pulling his partner’s bottom towards him.</string>
		<key>advantage</key>
		<string>Since all the pregnant like to sleep, this position is good for its “calmness”. In other words, the future mom may “rest” while her husband “works”. This is an ideal position for all those “groundhog” moms!</string>
		<key>risk</key>
		<string>In this position you might get “glued to the pillow” and a little “crushed” by your partner. So ask him to be more tender and careful. Languid music, soft light and tender words whispered in your ear will help create a special atmosphere…</string>
	</dict>
	<dict>
		<key>image</key>
		<string>approchedutigre.jpg</string>
		<key>title</key>
		<string>Pose «The Tigress»</string>
		<key>description</key>
		<string>In the second trimester of pregnancy, which is often called “the golden period” most ladies express increased interest in sex. According to the doctors this is due to the fading of toxipahty symptoms, a general improvement of health and certain changes in the organism. The woman stops feeling pains in the chest, and the blood flow to vaginal vessels becomes more intense in case of sexual arousal. All of the above improves the intensity of feelings during the sexual act. Thus, it is high time to practice the Kama Sutra.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>++</string>
		<key>process</key>
		<string>In this position the pregnant woman is on top. The man lies on his back and the woman holds him gently with one leg. The penetration in this position is soft and tender. And no discomfort at all!</string>
		<key>advantage</key>
		<string>Almost every woman in the third trimester of pregnancy is a real tigress. And she deserves the attention of a real tiger. Hugs, kisses and caress – that’s happiness in the feline family!</string>
		<key>risk</key>
		<string>The risks of this position are minimal. But be ready that your partner will not recognize his fierce tigress who used to be a placid kitten. That’s why it is not necessary to start scratching his back…</string>
	</dict>
	<dict>
		<key>image</key>
		<string>postureduroseau_edited.jpg</string>
		<key>title</key>
		<string>Pose «The Reed»</string>
		<key>description</key>
		<string>This position was designed for avid experimentalists. Sufficiently deep penetration and good training for both partners. Fitness and sex - two in one.</string>
		<key>he</key>
		<string>+</string>
		<key>her</key>
		<string>+++</string>
		<key>process</key>
		<string>When having sex in the Reed position the woman lies on her back and lifts her pelvis while resting on her head.  Her arms are free, and her legs are bent. The man stands on his knees and lifts and holds the woman’s pelvis with his arms for penetration.</string>
		<key>advantage</key>
		<string>This is a sensual and interesting position. The man may softly massage your thighs and kiss your tummy. Besides, this is a good exercise for your abdominal and gluteal muscles. The Reed position is lustful and original. By the way, both you and your partner may regulate the tempo. And your tummy does not obstruct anyone! To put it short, this is just great!</string>
		<key>risk</key>
		<string>However, you should not forget that the Reed position may lead to pains in the neck and spine in case you have sex for a long time. Don’t forget to put a small cushion under your head before you start testing this position!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lecunnilingus_edited.jpg</string>
		<key>title</key>
		<string>Pose «Comfortable Cunnilingus»</string>
		<key>description</key>
		<string>Cunnilingus is a type of copulation where the man satisfies his woman with his lips and tongue. It is rarely used as a separate form of sex and most often – as a form of warming up and just as part of the oral love-making which women love so much.</string>
		<key>he</key>
		<string>++</string>
		<key>her</key>
		<string>+</string>
		<key>process</key>
		<string>The man lies on his back with his legs bent. The woman “sits” on him bearing her weight on her feet and slightly leaning on the man’s body.</string>
		<key>advantage</key>
		<string>The advantages for the woman are quite clear from the picture. Many women love such oral pleasures. And in this position nothing prevents the woman from enjoying the process. She may use the back of the bed or the man’s body for support, leaning slightly on it. And most importantly – her rather big tummy is not obstructed by anything.</string>
		<key>risk</key>
		<string>There are few risks connected to this position. Most importantly you need to position your weight correctly not to cause discomfort to your man who is lying under you.</string>
	</dict>
</array>
</plist>
