<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Pisces</string>
		<key>image</key>
		<string>Pisces.png</string>
		<key>date1</key>
		<string>21.02.2000</string>
		<key>date2</key>
		<string>20.03.2000</string>
		<key>element</key>
		<string>Water</string>
		<key>elementImage</key>
		<string>Water.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aquarius</string>
		<key>image</key>
		<string>Aquarius.png</string>
		<key>date1</key>
		<string>21.01.2000</string>
		<key>date2</key>
		<string>20.02.2000</string>
		<key>element</key>
		<string>Air</string>
		<key>elementImage</key>
		<string>Air.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Capricorn</string>
		<key>image</key>
		<string>Capricorn.png</string>
		<key>date1</key>
		<string>22.12.2000</string>
		<key>date2</key>
		<string>31.12.2000</string>
		<key>element</key>
		<string>Earth</string>
		<key>elementImage</key>
		<string>Earth.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sagittarius</string>
		<key>image</key>
		<string>Sagittarius.png</string>
		<key>date1</key>
		<string>23.11.2000</string>
		<key>date2</key>
		<string>21.12.2000</string>
		<key>element</key>
		<string>Fire</string>
		<key>elementImage</key>
		<string>Fire.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Scorpion</string>
		<key>image</key>
		<string>Scorpion.png</string>
		<key>date1</key>
		<string>24.10.2000</string>
		<key>date2</key>
		<string>22.11.2000</string>
		<key>element</key>
		<string>Water</string>
		<key>elementImage</key>
		<string>Water.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Libra</string>
		<key>image</key>
		<string>Libra.png</string>
		<key>date1</key>
		<string>24.09.2000</string>
		<key>date2</key>
		<string>23.10.2000</string>
		<key>element</key>
		<string>Air</string>
		<key>elementImage</key>
		<string>Air.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Virgo</string>
		<key>image</key>
		<string>Virgo.png</string>
		<key>date1</key>
		<string>24.08.2000</string>
		<key>date2</key>
		<string>23.09.2000</string>
		<key>element</key>
		<string>Earth</string>
		<key>elementImage</key>
		<string>Earth.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Leo</string>
		<key>image</key>
		<string>Leo.png</string>
		<key>date1</key>
		<string>23.07.2000</string>
		<key>date2</key>
		<string>23.08.2000</string>
		<key>element</key>
		<string>Fire</string>
		<key>elementImage</key>
		<string>Fire.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cancer</string>
		<key>image</key>
		<string>Cancer.png</string>
		<key>date1</key>
		<string>22.06.2000</string>
		<key>date2</key>
		<string>22.07.2000</string>
		<key>element</key>
		<string>Water</string>
		<key>elementImage</key>
		<string>Water.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gemini</string>
		<key>image</key>
		<string>Gemini.png</string>
		<key>date1</key>
		<string>21.05.2000</string>
		<key>date2</key>
		<string>21.06.2000</string>
		<key>element</key>
		<string>Air</string>
		<key>elementImage</key>
		<string>Air.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aries</string>
		<key>image</key>
		<string>Aries.png</string>
		<key>date1</key>
		<string>21.03.2000</string>
		<key>date2</key>
		<string>20.04.2000</string>
		<key>element</key>
		<string>Fire</string>
		<key>elementImage</key>
		<string>Fire.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Taurus</string>
		<key>image</key>
		<string>Taurus.png</string>
		<key>date1</key>
		<string>21.04.2000</string>
		<key>date2</key>
		<string>20.05.2000</string>
		<key>element</key>
		<string>Earth</string>
		<key>elementImage</key>
		<string>Earth.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Capricorn</string>
		<key>image</key>
		<string>Capricorn.png</string>
		<key>date1</key>
		<string>01.01.2000</string>
		<key>date2</key>
		<string>20.01.2000</string>
		<key>element</key>
		<string>Earth</string>
		<key>elementImage</key>
		<string>Earth.png</string>
	</dict>
</array>
</plist>
